@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,500&display=swap");

.contact {
  font-family: "EB Garamond", serif;
  background: #fff;
  height: 100vh;
  position: relative;
}
.contact a {
  font-size: 3.7rem;
  position: absolute;
  top: 50%;
  left: 30%;
  padding: 12px 60px;
  border-radius: 6px;
  text-decoration: underline;
}
.contact img {
  position: absolute;
  left: 46%;
  top: 32%;
  cursor: pointer;
  animation: floating 1s ease infinite;
  transform-style: preserve-3d;
}
.contact a:hover {
  background: green;
  color: #fff;
  text-decoration: none;
  border-radius: 45px;
}

@keyframes floating {
  from {
    transform: translateY(0) translateX(0px);
  }
  to {
    transform: translateY(-10px)translateX(-5px);
  }
}
