@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,500&display=swap");
* {
  /* font-family: "EB Garamond", serif; */
  margin: 0;
  padding: 0;
}

.navbar {
  background: #fff000;
  /* height: 100vh;
  width: 100%;
   */
  font-family: "EB Garamond", serif;
  font-style: italic;
  color: #fff;
}
.navbar .name-main {
  width: 100%;
  height: 100vh;
  position: relative;
}
.name-main > h1 {
  font-size: 5rem;
  position: absolute;
  top: 35%;
  left: 31%;
}
.name-main .btn {
  padding: 10px 45px;
  background: #fff;
  position: absolute;
  top: 60%;
  left: 40%;
  color: #000;
  border-radius: 45px;
}
.btn:hover {
  background: #fff000;
}

.nav-links {
  width: 100%;
}
.nav-links ul {
  display: flex;
  float: right;
  position: absolute;
  top: 80%;
  left: 33%;
}
.nav-links ul li {
  margin: 35px;
  cursor: pointer;
  font-size: 22px;
}
.nav-links ul li a:hover {
  text-decoration: underline yellow;
}
